DOMAIN=localhost

SERVER_NAME=localhost:8000
SERVER_HOST=http://localhost:8000
STACK_NAME=cakeproject-com

# Backend
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:4200", "http://localhost:3000", "http://localhost:8080", "https://localhost", "https://localhost:4200", "https://localhost:3000", "https://localhost:8080", "http://dev.cakeproject.com", "https://stag.cakeproject.com", "https://cakeproject.com", "http://local.dockertoolbox.tiangolo.com", "http://localhost.tiangolo.com"]
PROJECT_NAME=CakeProject
SECRET_KEY=<app-secret key generated with openssl>
FIRST_SUPERUSER=admin@cakeproject.com
FIRST_SUPERUSER_PASSWORD=MyPassword

EMAILS_FROM_EMAIL=info@cakeproject.com

USERS_OPEN_REGISTRATION=False

# Postgres
POSTGRES_SERVER=<server_name>.rds.amazonaws.com
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ThisIsaPassword
POSTGRES_DB=app